@font-face {
  font-family: "Lulo Clean";
  font-weight: 400;
  src: url(/assets/fonts/lulo/cleanone-webfont.woff);
}

@font-face {
  font-family: "Lulo Clean";
  font-weight: 700;
  src: url(/assets/fonts/lulo/cleanonebold-webfont.woff);
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: italic;
  src: url(/assets/fonts/merriweather/merriweatherbolditalic-webfont.woff);
}

@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 700;
  src: url(/assets/fonts/avenirNext/avenirNextBold.woff);
}

@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 400;
  src: url(/assets/fonts/avenirNext/avenirNextMedium.woff);
}

@font-face {
  font-family: "AvenirNextLTPro";
  font-weight: 500;
  font-style: italic;
  src: url(/assets/fonts/avenirNext/avenirNextMediumItalic.woff);
}

@font-face {
  font-family: "BaskervilleMTStd-Bold";
  font-weight: 700;
  src: url(/assets/fonts/baskerville/baskervilleBold.woff);
}


@font-face {
  font-family: "Redaction";
  font-weight: 400;
  src: url(/assets/fonts/redaction/Redaction-Regular-zoff.woff2);
}

@font-face {
  font-family: "Redaction";
  font-weight: 700;
  src: url(/assets/fonts/redaction/Redaction-Bold-zoff.woff2);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url(/assets/fonts/montserrat/montserrat-v25-latin-500.woff2);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(/assets/fonts/montserrat/montserrat-v25-latin-600.woff2);
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url(/assets/fonts/montserrat/montserrat-v25-latin-600.woff2);
}


.font-redaction {
  font-family: 'Redaction';
}

.font-montserrat {
  font-family: 'Montserrat';
}
